<!-- Categories List -->
<div class="categories-container">
	<div class="categories-title"><strong>Product Categories</strong></div>
	<div class="categories-toolbar">
		<button
			 class="btn btn-sm btn-secondary waves-effect waves-light"
			 (click)="onClickAddCategoryBtn();addEditCategoryModal.show()">
    <i class="fa fa-plus left"></i>
     Add
  </button>
	</div>
	<div class="categories-list">
	<tree-root 
		[nodes]="productsAndCategories" 
		[options]="options"
	>
  		<ng-template 
  			#treeNodeTemplate let-node let-index="index">
		<div>
		    <span
		    	style="font-size: 14px;font-family: Arial;color: RGB(100,100,100);"
		    >
				{{ node.data.name }}
			</span>   
	
			<button class="btn btn-sm btn-outline-secondary category-action pull-right" (click)="addEditCategoryModal.show()">
		    <i class="fa fa-trash"></i>
		  </button>
			<button class="btn btn-sm btn-outline-secondary category-action pull-right" (click)="addEditCategoryModal.show()">
		    <i class="fa fa-pencil"></i>
		  </button>
			 <button 
			 		class="btn btn-sm btn-outline-secondary category-action pull-right"
			  	(click)="onClickAddSubCategoryBtn(node.data);addEditCategoryModal.show()">
		    <i class="fa fa-plus"></i>
		  </button>
	</div>
  </ng-template>
</tree-root>
	</div>
</div>

<!-- Add/Edit Category Modal -->
<div 
	mdbModal 
	#addEditCategoryModal="mdb-modal" 
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="myaddEditCategoryModalLabel"
	aria-hidden="true"
	(onShown)="onModalOpened($event)"
	[config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
						<button type="button" class="close pull-right" aria-label="Close" (click)="addEditCategoryModal.hide()">
								<span aria-hidden="true">×</span>
						</button>
						<h6 class="modal-title w-100" id="myModalLabel">{{ modalTitle }}</h6>
				</div>
				<div class="modal-body">
						<div class="md-formx">
		<form  novalidate>	
			
    <label for="categoryName" class="my-shop-label">{{ fieldTitle }}</label>		
    <input
    	#ctgInputBox
     	type="text"
     	id="categoryName"
     	name="categoryName"
     	class="form-control"
     	autocomplete="off"
     	appAutofocus
     	[(ngModel)]="categoryName">    	
  </form>
</div>
				</div>
				<div class="modal-footer">
						<button 
						type="button"
						 class="btn btn-sm btn-outline-secondary waves-effect waves-light btn-app"
						  aria-label="Close" (click)="addEditCategoryModal.hide()" mdbRippleRadius>Cancel</button>
						<button 
							type="button" 
							class="btn btn-sm btn-secondary waves-effect waves-light btn-app"
							mdbRippleRadius
							(click)="onClickSaveCategoryBtn(categoryName.value);addEditCategoryModal.hide();"
						>
						Save 
					</button>
				</div>
			</div>
    </div>
</div>

