<!-- Global Navigation Menu bar -->
<div class="container-fluid global-nav-containter">
<nav class="mb-1 navbar navbar-expand-lg nav-myshop">
  <div class="navbar-collapse" id="navbarSupportedContent-3">
    <ul class="navbar-nav mr-auto doormat-menu-bar">
	  <li class="nav-item doormat-menu">
        <a class="nav-link waves-effect waves-light myshop-menu" href="#">Go To</a>
        <div class="doormat-menu-list">
			 <a class="menu-item" routerLink='' routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Home</a>
          <a class="menu-item">Settings</a>
          
        </div>
      </li>
      <li class="nav-item doormat-menu">
        <a class="nav-link waves-effect waves-light myshop-menu" href="#">Manage</a>
        <div class="doormat-menu-list">
          <a class="menu-item" >My Companies</a>
          <a class="menu-item">Suppliers</a>
          <a class="menu-item">Buyers</a>
        </div>
      </li>
      <li class="nav-item doormat-menu">
        <a class="nav-link waves-effect waves-light myshop-menu" href="#">Products</a>
        <div class="doormat-menu-list">
          <a class="menu-item" routerLink='test' routerLinkActive="active">Manage Pricing Formulas</a>
          <a class="menu-item" routerLink='products' routerLinkActive="active">Manage Products</a>
          <a class="menu-item" >View Stock</a>
        </div>
      </li>
      <li class="nav-item doormat-menu">
        <a class="nav-link waves-effect waves-light myshop-menu" href="#">Purchase</a>
        <div class="doormat-menu-list">
          <a class="btn btn-sm btn-outline-secondary waves-effect waves-light btn-myshop">
            <i class="fa fa-plus left"></i>
            Add Purchase Invoice
          </a>
          <a class="menu-item">View Purchase Invoices</a>
        </div>
      </li>
      <li class="nav-item doormat-menu">
        <a class="nav-link waves-effect waves-light myshop-menu" href="#">Delivery Challans</a>
        <div class="doormat-menu-list">
          <a class="btn btn-sm btn-outline-secondary waves-effect waves-light btn-myshop">
            <i class="fa fa-plus left"></i>
            Add Delivery Challan
          </a>
          <a class="menu-item">View Delivery Challans</a>
        </div>
      </li>
      <li class="nav-item doormat-menu">
        <a class="nav-link waves-effect waves-light myshop-menu" href="#">Sales</a>
        <div class="doormat-menu-list">
          <a class="btn btn-sm btn-outline-secondary waves-effect waves-light btn-myshop">
            <i class="fa fa-plus left"></i>
            Add Sales Invoice
          </a>
          <a class="menu-item">View Sales Invoices</a>
        </div>
      </li>
      
    </ul>
  </div>
</nav>
</div>

