body {
  overflow: hidden;
  background-color: RGB(245,245,245);
}

.navbar {
  margin-bottom: 0 !important;
  padding: 0;
  border-bottom: none !important;
}



a, .dropdown-toggle {
  color:  #aa66cc !important;
  font-weight: bold;
  font-size: 14px;
}
